.container {
    width: 600px;
    height: 800px;
    /*background: rgb(55, 55, 55);*/
    /*background-color: #0c0c0c;*/
    background-image: url(task8.png);
    border-radius: 25px;
    margin: 0 auto;
    overflow: auto;
    border: #7a7b7e;
    box-shadow: 0 0 15px;
}

.row {
    margin: 80px auto;
    background-color: #97ff9e;
    width: 80%;
    height: 80px;
    border-bottom: 5px solid #6f736f;
    border-right: 5px solid #6f736f;
    border-top: 5px solid #000000;
    border-left: 5px solid #000000;
}

.zero {
    font-size: 70px;
    margin-left: 30px;

}

table, td {
    width: 80%;
    padding: 10px 20px;
    border-collapse: separate;
    margin: 0 auto;
    border-spacing: 7px 15px;
}

td {
    font-size: 2.1rem;
    text-align: center;
    border-radius: 15px;
    border: 2px solid transparent;
    /*background: linear-gradient(to top, #000000, #787c78); */
    background: linear-gradient(to top, #000000, #505250);
    color: #fff;
}

td:hover {
    background: #2bbbff;
    border: 2px solid #2bbbff;
}

.red-bt {
    background: linear-gradient(to top, #ff0003, #edcdc1);
}

.blue-bt {
    background: linear-gradient(to top, #0a00ff, #eaede6);
}
